.elements__image {
  margin: 0;
  object-fit: cover;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 984px) {
  .elements__image {
    width: 266px;
    height: 266px;
  }
}

@media screen and (max-width: 568px) {
  .elements__image {
    width: 282px;
    height: 282px;
  }
}
