.profile__add-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #000;
  background-image: url(../../../images/profile-add-button.svg);
  background-position: contain;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 984px) {
  .profile__add-button {
    width: 150px;
    height: 50px;
  }
}

@media screen and (max-width: 568px) {
  .profile__add-button {
    background-image: url(../../../images/Add-Button-big.svg);
    margin: 31px auto 0;
    width: 282px;
  }
}
