.profile__add-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: #000;
  background-image: url(../../../images/profile-add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  box-sizing: border-box;
  border: 2px #fff solid;
  margin-left: auto;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 984px) {
  .profile__add-button {
    width: 150px;
    height: 50px;
  }
}

@media screen and (max-width: 568px) {
  .profile__add-button {
    margin: 29px auto 0;
    width: 282px;
    height: 50px;
    background-size: 16px 16px;
  }
}
