.popup__image-title {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
max-width: 75vw;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

@media screen and (max-width: 568px) {
  .popup__image-title {
    max-width: 75vw;
  }
}