.footer {
  margin: 67px auto 60px;
  max-width: 880px;
}

@media screen and (max-width: 984px) {
  .footer {
    max-width: 585px;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    margin: 48px auto 36px;
    max-width: 282px;
  }
}
